<html>
  <head>
    <title>JWT Auth</title>
    <style>
      .messagebox {
        margin-top: 20vh;
        background-color: #444;
        padding-top: 4px;
      }
      h2 {
        color: #fff;
        font-family: sans-serif;
      }
    </style>
  </head>
  <body bgcolor="#333">
    <div class="messagebox">
      <center>
        <br />
        <h2><%= message %></h2>
        <br />
      </center>
    </div>
  </body>
</html>
